body {
    background-color: #77DD77;
}
h1 {
    color: green;
    margin-left: 50px;
}
.cell {
    width: 80px;
    height: 80px;
    border: solid;
    box-shadow: 0 0 0 1px;
    color: green;
    font-size: 65px;
    cursor: pointer;
}
#game-container {
    font-family: OCR A Std, monospace;
    text-align: center;
}
#cell-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 200px;
    margin: auto; 
}
button {
    background: yellowgreen;
    box-shadow: 8px 10px 20px 0 grey;
    text-align: center;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 10px;
    border: yellowgreen;
    cursor: pointer;
}
button:hover {
    background-color: yellow;
}
button:active {
    background-color: blanchedalmond;
}